
/*FAVORITE COLORS*/
:root {
    --dark-purple: #433582;
    --red: #BA1f33;
    --green: #2ca58d;
    --light-purple: darkorchid;
}

/*TIMER AND BUTTON AT THE TOP*/
.timerStyle {
    float: right;
    width:auto;
    height:auto;
    margin-bottom: 25px;
    margin-right: 25px;
}

.viewHighScoreStyle {
    float:left;
    width:auto;
    height:auto;
}


/*BODY STYLES*/
.wrapper {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
}

.header {
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header button {
    color: var(--light-purple);
    background-color: white;
    border-style: none;
}
header div {
    padding-top:30px;
    height: 100px;
    width:auto;   
}





/*QUESTION FORMATTING*/
.questionFormat {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    background-color:teal;
    display:none;
}

.questionFormat h2 {
    color:var(--dark-purple);
}

.questionFormat button {
    display: block;
    margin: 0 auto;
}


/* div {
    background-color:whitesmoke;
    /* border-width:1px;
    border-style:solid;
    border-color:grey;
} */




/*CARD DETAILS*/
/* .card {
    font-size: 18px;
    margin: auto;
    max-width: 800px;
    padding: 30px 40px;
    justify-content: center;
    text-align: center;
}

.card h1 {
    background-color: var(--dark-purple);
    color: (white)
} */
